<form
  [formGroup]="filterForm"
  (ngSubmit)="onFilter()">
  <div class="input-group mb-3">
    <label for="input"></label>
    <input
      class="form-control"
      id="input"
      formControlName="keyword">
    <div class="input-group-append">
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="filterForm.invalid">Filtrer
      </button>
    </div>
    <div class="input-group-append">
      <button
        class="btn btn-secondary"
        type="button"
        ngbTooltip="Cliquez à nouveau pour rafraîchir la liste"
        triggers='click:blur'
        (click)="onRefreshList()">
        <img
          src="assets/refresh-cw.svg"
          alt="R"
        />
      </button>
    </div>
    <div class="input-group-append">
      <button
        class="btn btn-secondary"
        type="button"
        (click)="onDelete()"
        [disabled]="filterForm.invalid">
        <img
          src="assets/delete.svg"
          alt="X"
        />
      </button>
    </div>
  </div>
</form>

<div class="y-spacer"></div>
<a *ngFor="let creator of creators"
   style="cursor: pointer;"
   routerLinkActive="active"
   class="list-group-item list-group-item-action"
   [routerLink]="['/admin/creators', creator.id]">
  {{ creator.firstName }} {{creator.lastName}} (id:{{creator.id}})</a>
<div class="y-spacer"></div>
<ngb-pagination
  [collectionSize]="totalElements"
  [pageSize]="numberOfElementsPerPage"
  [(page)]="page"
  (pageChange)="onPageChange()"></ngb-pagination>
<div class="y-spacer"></div>
<hr/>
<div class="y-spacer"></div>
<button
  class="btn btn-secondary"
  type="button"
  routerLink="/admin/creators/new">Ajouter un auteur
</button>
<span class="x-spacer"></span>
<button
  class="btn btn-secondary"
  type="button"
  (click)="onRefreshList()">Rafraichir la liste
</button>
