<div>
  <label for="input">Filtrer les thèmes</label>
  <input class="form-control" id="input" [(ngModel)]="keyword">
</div>
<div class="y-spacer"></div>
<a *ngFor="let theme of themes"
   style="cursor: pointer;"
   routerLinkActive="active"
   class="list-group-item list-group-item-action"
   [routerLink]="['/admin/themes', theme.id]">
  {{theme.name}} (id:{{theme.id}})</a>
<div class="y-spacer"></div>
<ngb-pagination
  [collectionSize]="totalElements"
  [pageSize]="pageSize"
  [(page)]="page"
  (pageChange)="onPageChange()"></ngb-pagination>
<div class="y-spacer"></div>
<hr/>
<div class="y-spacer"></div>
<button
  class="btn btn-secondary"
  type="button"
  routerLink="/admin/themes/new">Nouveau thème
</button>
<span class="x-spacer"></span>
<button
  class="btn btn-secondary"
  type="button"
  (click)="onRefreshList()">Rafraichir la liste
</button>
