<div class="block-container">
  <h4>Titre du jeu</h4>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="nature">Type</label>
      <select
        id="nature"
        class="form-control w-auto"
        formControlName="gameNature">
        <option
          *ngFor="let nature of natureList"
          [value]="nature"
        >{{ actualEnumType[nature] }}
        </option>
      </select>
    </div>
    <label for="players">Joueurs</label>
    <div formGroupName="numberOfPlayers"
         id="players">
      <label for="minPlayers">Min</label>
      <input
        id="minPlayers"
        type="number"
        formControlName="min"
        class="form-control">
      <ng-container *ngIf="hasMaxP">
        <label for="maxPlayers">Max</label>
        <input
          id="maxPlayers"
          type="number"
          formControlName="max"
          class="form-control"
        >
      </ng-container>
    </div>
    <div class="text-primary lead"
         *ngIf="!hasMaxP"
         (click)="addMaxP()">Définir un maximum
    </div>
    <div class="text-primary lead"
         *ngIf="hasMaxP"
         (click)="removeMaxP()">Retirer le champ
    </div>
    <div>{{ buildPlayers(this.form.get('numberOfPlayers.min').value, this.form.get('numberOfPlayers.max').value) }}</div>
    <div class="form-group">
      <label for="duration">Durée</label>
      <input
        id="duration"
        type="text"
        formControlName="duration"
        class="form-control">
    </div>
    <label for="ageRange">Age</label>
    <div formGroupName="ageRange"
         id="ageRange">
      <label for="ageMin">Min</label>
      <input
        id="ageMin"
        type="number"
        formControlName="min"
        min="1"
        class="form-control">
      <label for="ageMax">Max</label>
      <input
        id="ageMax"
        type="number"
        formControlName="max"
        min="0"
        class="form-control">
    </div>
    <div class="row mt-5">
      <div class="col-md-12">
        <button
          type="submit"
          class="btn btn-success mr-2"
          [disabled]="!form.valid">Sauvegarder
        </button>
        <button
          type="button"
          class="btn btn-secondary mr-2"
          (click)="onCancel()"
        >Restaurer
        </button>
        <button
          type="button"
          class="btn btn-warning mr-2"
          (click)="onBack()"
        >Retour
        </button>
      </div>

    </div>
  </form>
</div>
