<form
  [formGroup]="creatorForm"
  (ngSubmit)="onSubmit()">
  <h5>{{ label }}</h5>
  <div class="form-row">

    <div class="form-group col-md-5">
      <label for="firstname">Prénom</label>
      <input
        id="firstname"
        type="text"
        formControlName="firstname"
        class="form-control">
    </div>

    <div class="form-group col-md-5">
      <label for="lastname">Nom</label>
      <input
        id="lastname"
        type="text"
        formControlName="lastname"
        class="form-control">
    </div>

    <div class="form-group col-md-2">
      <label for="role">Rôle</label>
      <select
        id="role"
        class="form-control w-auto"
        formControlName="role">
        <option
          *ngFor="let role of rolesList"
          [value]="role">{{ role | enumToValue: actualEnumType }}
        </option>
      </select>
    </div>

  </div>

  <app-contact-form
    *ngIf="hasContact"
    [contactForm]="contactForm">
  </app-contact-form>

  <div class="form-row">
    <div class="col-xl-12">
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!creatorForm.valid">Sauvegarder
      </button>
      <span class="x-spacer"></span>
      <button
        type="button"
        class="btn btn-warning"
        (click)="onCancel()">Annuler
      </button>
      <span class="x-spacer"></span>
      <button
        type="button"
        class="btn btn-secondary"
        *ngIf="!hasContact"
        (click)="onAddContactForm()">Ajouter les coordonnées
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary"
        *ngIf="hasContact"
        (click)="onRemoveContactForm()">Retirer les coordonnées
      </button>
    </div>
  </div>
</form>
