<form
  [formGroup]="configForm"
  (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-xl-12">
      <label for="numberOfElementsSelect">Nombre d'éléments affichés par page</label>
      <select
        id="numberOfElementsSelect"
        class="form-control w-auto"
        formControlName="numberOfElementsControl">
        <option
          *ngFor="let n of numbers"
          [value]="n">{{n}}
        </option>
      </select>
    </div>
  </div>
  <div class="y-spacer"></div>
  <div class="row">
    <div class="col-xl-12">
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!configForm.valid">Sauvegarder
      </button>
      <span class="x-spacer"></span>
      <button
        type="button"
        class="btn btn-secondary"
        (click)="onRestore()">Restaurer
      </button>
      <span class="x-spacer"></span>
      <button
        type="button"
        class="btn btn-warning"
        (click)="onCancel()">Annuler
      </button>
    </div>
  </div>
</form>
