<div class="row h-100">
  <div class="col-md-2 bg-secondary">
    <div class="row">
      <a
        class="nav-link text-light"
        style="cursor:pointer;"
        routerLink="/admin/themes">Thèmes</a>
    </div>
    <div class="row">
      <a
        class="nav-link text-light"
        style="cursor:pointer;"
        routerLink="/admin/creators">Auteurs de jeux</a>
    </div>
    <div class="row">
      <a
        class="nav-link text-light"
        style="cursor:pointer;"
        routerLink="/admin/configuration">Configuration</a>
    </div>
  </div>
  <div class="col-md-10">
    <div class="y-spacer"></div>
    <router-outlet></router-outlet>
  </div>
</div>
