.block-container {
  padding: 3em 1.5em;
  border: 3px solid #28a745;
  text-align: center;
}

h4 {

}

.line-handler-body {
  margin: 1.5em 0;
}

li {
  list-style: none;
}

.name {
  font-size: 125%;
}

.role {
  font-size: 100%;
}

.name, .role {
  cursor: default;
}

.line-control {
  display: none;
  color: #007BFF;
}

.line-control:hover {
  color: #212529;
  width: fit-content;
  cursor: pointer;
}

.product-line-line:hover .line-control {
  display: inline;
}

.add-nav {
  padding: 1.5em 1.5em;
}

.nav-link {
  width: fit-content;
  margin: auto
}

.nav-link:hover {
  cursor: pointer;
}

.picker-component {
  padding: 2em 2em 0.5em;
}
