body {
  margin: 0;
  display: grid;
  height: calc(100vh - 40px);
  grid-template-columns: 48px auto;
}

.sidenav {
  white-space: nowrap;
  width: 48px;
  height: calc(100vh - 40px);
  overflow-x: hidden;
  background: #28a745;
  /*border-right: #28a745 2px solid;*/
}

.list {
  color: white;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.sidenav .list {
  position: sticky;
  top: 0;
}

.sidenav .list li {
  display: block;
}

.back-button {
  border-radius: 50%;
  border: #f8f9fa 1px solid;
  width: 36px;
  height: 36px;
  margin: 12px 6px;
  background-color: #FFC107;
}

.back-button:hover {
  background-color: #E0A800;
  cursor: pointer;
}

.back-button div {
  color: #f8f9fa;
  text-align: center;
  padding-top: 4px;
}
