.sidenav {
  width: 48px;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  border-right: #28a745 2px solid;
}

.main {
  margin-left: 48px;
}

.stripped {
  width: 46px;
  height: 100%;
  z-index: 1;
  color: white;
  background: repeating-linear-gradient(
    45deg,
    #28a745,
    #28a745 8px,
    white 2px,
    white 10px /*#6c757d 10px*/
  );
}
