<div class="row">
  <div class="card" style="width: auto;">
    <div class="card-body">
      <h5 class="card-title">{{ creator.firstName }} {{ creator.lastName }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ creator.role | enumToString }}</h6>
      <div class="card-text" *ngIf="creator.contact.city">{{ creator.contact.city}}</div>
      <div class="card-text"
           *ngIf="creator.contact.street">{{creator.contact.streetNumber}} {{ creator.contact.street}}</div>
      <div class="card-text" *ngIf="creator.contact.postalCode">{{ creator.contact.postalCode}}</div>
      <div class="card-text" *ngIf="creator.contact.phoneNumber">{{ creator.contact.phoneNumber}}</div>
      <div class="card-text" *ngIf="creator.contact.website">{{ creator.contact.website}}</div>
    </div>
  </div>
</div>
<div class="row y-spacer">
  <button
    class="btn btn-secondary"
    type="button"
    (click)="onEdit()">Éditer cet auteur
  </button>
  <span class="x-spacer"></span>
  <button
    class="btn btn-danger"
    type="button"
    (click)="onOpenConfirm()">Supprimer cet auteur
  </button>
</div>
